.taskInput {
    background-image: url('/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-size: 24px 24px;
  }
  
  .taskTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  .taskTable th, .taskTable td {
    text-align: left;
    padding: 12px;
  }

  .taskTable th {
    background-color: bisque;
  }

  .colorBisque{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    background-color: #f1d8bc;
  }

  
  .taskTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  .taskTable tr.header, .taskTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .width60 {
    width: 60%;
  }

  .flexRowPopup {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 30%;
  }

  
  .flexColumnPopup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .paddingElements {
    width: 100%;
    padding: 4px 6px;
    box-sizing: border-box;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }